img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.caption
{
    text-align: center;
    font-size: medium;
}
h1{
    text-align: center;
    font-size: 50px;
    background-color: whitesmoke;
}
.info{
    font-size: 30px;
    text-align: center;
    background-color: whitesmoke;
}
.tribute{
    font-size: 30px;
    text-align: center;
}